body {
  font-family: "Montserrat", sans-serif;
}

#clothing-wrapper,
#accessory-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.cloth-card,
.acc-card {
  width: 15%;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cloth-card:hover,
.acc-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

img {
  width: 100%;
}

.info-sec {
  padding-left: 10px;
  margin: 10px auto;
}

h1 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
}

p {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  color: rgb(110, 110, 110);
}

h3 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
}

#heading1 {
  margin: 50px auto 0 70px;
  margin-top: 50px;
  margin-left: 70px;
  color: rgb(27, 25, 25);
  font-weight: 500;
}

#heading2 {
  margin: 100px auto 0 70px;
  font-weight: 500;
  color: rgb(27, 25, 25);
}

@media screen and (max-width: 930px) {
  .cloth-card,
  .acc-card {
    width: 20%;
  }
}

@media screen and (max-width: 700px) {
  .cloth-card,
  .acc-card {
    width: 25%;
  }
}

@media screen and (max-width: 580px) {
  .cloth-card,
  .acc-card {
    width: 35%;
  }
  h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .cloth-card,
  .acc-card {
    width: 50%;
  }
}
